:root {
  --primary-color: #000000;
  --secondary-color: #00ff00;
  --text-color: #ffffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--primary-color);
  font-family: monospace;
}

.row {
  margin: 0;
}

#hero-main {
  margin-top: 100px;
  margin-bottom: 0;
  color: var(--text-color);
}

#show_bg_coding {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 117, 30, 0.73),
      rgba(154, 154, 158, 0.334)
    ),
    url("/images/coding.jpg");
  width: 50%;
  height: 250px;
  background-size: cover;
  color: white;
  padding: 5px;
  border: white solid 1px;
}

#show_bg_writing {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 117, 30, 0.73),
      rgba(154, 154, 158, 0.334)
    ),
    url("/images/writing.jpg");
  width: 50%;
  height: 250px;
  background-size: cover;
  color: white;
  padding: 10px;
  border: white solid 1px;
}

h1 {
  color: var(--secondary-color);
  font-size: 60px;
  line-height: 100%;
  font-family: monospace;
}

#h2-main {
  margin-top: 100px;
}

.services,
.profiles {
  text-align: center;
}

.logo-profile {
  height: 40px;
}

#buttons-main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#buttons-services {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
  margin: 0 10px 0 10px;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--secondary-color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--secondary-color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
  color: var(--text-color);
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--secondary-color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

footer {
  background: #212529;
  text-align: center;
}

@media (max-width: 576px) {
  #hero-main {
    margin-top: 10px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    text-align: center;
  }

  #photo-main,
  #img-home,
  #img-home-2,
  .services-description {
    display: none;
  }

  #buttons-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .button {
    position: relative;
    z-index: 0;
    width: 120px;
    height: 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-color);
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin: 2px 5px 2px 5px;
  }

  #buttons-services {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #show_bg_coding {
    background-image: linear-gradient(
        to bottom,
        rgba(19, 117, 30, 0.73),
        rgba(154, 154, 158, 0.334)
      ),
      url("/images/coding.jpg");
    width: 100%;
    height: 150px;
    background-size: cover;
    color: white;
    padding: 10px;
    border: white solid 1px;
    justify-content: center;
    align-items: center;
  }
  #show_bg_writing {
    background-image: linear-gradient(
        to bottom,
        rgba(19, 117, 30, 0.73),
        rgba(154, 154, 158, 0.334)
      ),
      url("/images/writing.jpg");
    width: 100%;
    height: 150px;
    background-size: cover;
    color: white;
    padding: 10px;
    border: white solid 1px;
    justify-content: center;
    align-items: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-color);
  }
  .about-content li {
    width: 100%;
    color: var(--text-color);
  }

  .writing-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-color);
  }
  .writing-content li {
    width: 100%;
    color: var(--text-color);
  }
  p,
  ul {
    color: var(--text-color);
  }

  p {
    text-align: left;
  }
}

.footer-link {
  color: var(--secondary-color);
}

.footer-link:hover {
  color: var(--text-color);
}

.text-left {
  margin-left: 50px;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

hr {
  color: var(--secondary-color);
}

.subtitles {
  color: var(--secondary-color);
  text-decoration: underline;
}

#ul-about {
  list-style-type: none;
}

.writing-description {
  list-style-type: none;
}
.col {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

ul {
  color: var(--text-color);
}

#contact-me-main {
  margin-top: 100px;
}

#about-main {
  margin-top: 50px;
}

h5 {
  color: var(--text-color);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--text-color);
}

#img-home,
#img-home-2 {
  width: 75%;
  height: 300px;
}

@media (max-width: 912px) {
  #hero-main {
    margin-top: 10px;
  }
  .services-description {
    display: none;
  }
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    text-align: center;
  }

  #buttons-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .button {
    position: relative;
    z-index: 0;
    width: 120px;
    height: 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-color);
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin: 2px 5px 2px 5px;
  }

  #buttons-services {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #show_bg_coding {
    background-image: linear-gradient(
        to bottom,
        rgba(19, 117, 30, 0.73),
        rgba(154, 154, 158, 0.334)
      ),
      url("/images/coding.jpg");
    width: 50%;
    height: 150px;
    background-size: cover;
    color: white;
    padding: 10px;
    border: white solid 1px;
    justify-content: center;
    align-items: center;
  }
  #show_bg_writing {
    background-image: linear-gradient(
        to bottom,
        rgba(19, 117, 30, 0.73),
        rgba(154, 154, 158, 0.334)
      ),
      url("/images/writing.jpg");
    width: 50%;
    height: 150px;
    background-size: cover;
    color: white;
    padding: 10px;
    border: white solid 1px;
    justify-content: center;
    align-items: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-color);
  }
  .about-content li {
    width: 100%;
    color: var(--text-color);
  }

  .writing-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-color);
  }
  .writing-content li {
    width: 100%;
    color: var(--text-color);
  }
  p,
  ul {
    color: var(--text-color);
  }

  p {
    text-align: left;
  }
}
